[Unit]
Description=Run Sample Example Config for Flow Controller

[Install]
WantedBy=multi-user.target

[Service]
Environment="CFG_FILE=/var/lib/FlowController/sample_configs_and_jobs/simple_example.py.cfg"

Type=simple
User=FlowController
Restart=on-failure
KillSignal=SIGINT
ExecStart=/usr/bin/python3 -m FlowController.FlowController --config $CFG_FILE --start --console_log_level INFO
StandardError=append:/var/log/FlowController_simple_example.log
