[Unit]
Description=Web GUI For FlowController

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=FlowController
Restart=on-failure
ExecStart=/usr/local/pipx/venvs/flowcontroller/bin/FlowControllerWebApp
StandardError=append:/var/log/FlowControllerWebApp.log
