[Unit]
Description=Run Sample Example Config for Flow Controller

[Install]
WantedBy=multi-user.target

[Service]
Environment="CFG_FILE=/var/lib/FlowController/sample_configs_and_jobs/signal_test_example.py.cfg"

Type=simple
User=FlowController
Restart=on-failure
KillSignal=SIGINT
ExecStart=/usr/local/pipx/venvs/flowcontroller/bin/FlowController --config $CFG_FILE --start --logging_level INFO
StandardError=append:/var/log/FlowController_signal_test_example.log
